{% extends 'base.html' %}
{% block corpo %}
<div class="row ">
    <div class="col-2 d-flex">
        {%include 'sidebar.html'%}
    </div>
    <div class="col-10">
        <div class="row">
            <div class="col-md-12" >
                <div class="card mb-5 mt-2" style="box-shadow: 0 2px 10px 0 ">
                    <div class="card-body">
                        <h5 class="card-title">Post</h5>
                        <form method="post">
                            <div class="mb-3">
                                <label for="titulo" class="form-label">Título</label>
                                <input name="titulo" type="text" class="form-control" id="titulo" aria-describedby="emailHelp">
                            </div>
                            <div class="mb-3">
                                <label for="texto" class="form-label">Texto</label>
                                <textarea name="texto" class="form-control" placeholder="Insira um texto aqui" id="texto"></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="categoria" class="form-label">Categoria</label>
                                <select name="categoria" class="form-select">
                                    <option selected>Selecione</option>
                                    {% for categoria in categorias %}
                                    <option value="{{categoria.categoria_id}}">{{categoria.nome}}</option>
                                    {%endfor%}
                                </select>
                            </div>
                            <div class="mb-3 form-check">
                                <input name="status" value="1" type="checkbox" class="form-check-input" id="status">
                                <label class="form-check-label" for="status">Ativo</label>
                            </div>
                            
                            <button type="submit" class="btn btn-primary">Salvar</button>
                              <button type="submit" class="btn btn-success">Limpar</button>
                            <a href="{{url('admin/posts')}}"  class="btn btn-danger">Cancelar</a
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}