<div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white container-fluid" style="box-shadow: 0 2px 20px 0 ">
    <a class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
        <span class="fs-5 fw-bold text-primary">Categorias</span>
    </a>
    <div class="list-group list-group-flush border-bottom scrollarea" >
        {% for categoria in categorias %}
        <a  href="{{url('post-categoria/'~categoria.categoria_id)}}"class="list-group-item list-group-item-action py-3 lh-tight  box-shadow-hover pointer">
            <div class="d-flex w-100 align-items-center justify-content-between">
                <strong class="mb-1">{{categoria.nome}}</strong>
            </div>
        </a>
        {%endfor%}
    </div>
</div>